* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.596);
    width: 80%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    border-radius: 40px;
}

.box {
    color: white;
    margin: 2rem;
}

.boxLeft {
    display: flex;
    flex-direction: column;
    

}

.inputSearch {
    width: 80%;
}

.search {
    display: flex;
    gap: 20px;
}

.search input {
    height: 3rem;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    padding-left: 10px;
    font-weight: 900;
}

.infoWether {
    background-color: rgba(0, 0, 0, 0.397);
    height: 62vh;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.btnSearch {
    background-color: rgba(0, 0, 0, 0.397);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
}

.infoWether h1 {
    margin-top: 10px;
}

.temperature {
    font-size: 6rem;
}

.infoWether img {
    height: 10rem;

}

.cloudy {
    margin-top: 3rem;

}

.entreCity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.entreCity img {
    width: 100%;
    height: 20rem;
}

#alert {
    color: red;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 7px;
}

.boxRight {
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 5rem;
}

.boxup,
.boxdown {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}

.houre {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.scroll::-webkit-scrollbar {
    height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.item {
    min-width: 70px;
    background: rgba(255, 255, 255, 0.18);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.item img {
    width: 35px;
    margin-top: 5px;
}

hr{
    margin-top: 10px;
}